<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
</head>
<body>
    <h2>新規ユーザー登録</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label>ユーザー名:</label>
            <input type="text" th:field="*{username}" required />
        </div>
        <div>
            <label>パスワード:</label>
            <input type="password" th:field="*{password}" required />
        </div>
        <button type="submit">登録</button>
    </form>
    <a th:href="@{/login}">ログイン画面へ</a>
</body>
</html>